# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# Data and Output
data/
output/
*.csv
*.hdf5
*.log

# Configuration Files
.env

# IDE/Editor Specific
.vscode/

# MAC OS FILE
**/.DS_Store